{% extends "lBase.html.twig" %}

{% block title %}{{ title }}{% endblock %}

 {% block css %}
     <link rel="stylesheet" href="ui/css/myDropzone.css" type="text/css">
 {% endblock %}

 {% block js %}
     <script src="ui/js/myDropZone.js" type="text/javascript"></script>
 {% endblock %}

{% block content %}
    <div class="row">
        <div class="cell-12">
            <h1 class="align-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
            <form class="form required" action="index.php?a={{ action }}&o=image" method="post"
                  enctype="multipart/form-data">
                <!-- name -->
                <div class="groupform-large">
                    <label class="required" for="name">Nom</label>
                    {{ imageForm.showMsg('name')|raw }}
                    <input class="padd-15" type="text" name="name" id="name" required placeholder="medor"
                           maxlength="255"
                           value="{{ image.name }}"/>
                </div>
                <!-- attr_alt -->
                <div class="groupform-large">
                    <label class="required" for="attr_alt">Description</label>
                    {{ imageForm.showMsg('attrAlt')|raw }}
                    <input class="padd-15" type="text" name="attr_alt" id="attr_alt" required
                           placeholder="Image de chien medor"
                           maxlength="255"
                           value="{{ image.attrAlt }}"/>
                </div>

                <!--  publication_status -->
                <div class="groupform-large">
                    <label class="required" for="publication_status">Statut de publication</label>
                    {{ imageForm.showMsg('publication_status')|raw }}
                    <select class="padd-15" name="publication_status" id="publication_status">
                        <option value="brouillon" {{ image.publicationStatus == "brouillon" ?  "selected" : "" }}>
                            Brouillon
                        </option>
                        <option value="publie" {{ image.publicationStatus == "publie" ?  "selected" : "" }}>
                            Publié
                        </option>
                    </select>
                </div>

                <!-- image -->
                <div class="groupform-large">
                    <label for="image">Image</label>
                    {{ imageForm.showMsg('file')|raw }}

                    <div class="file-area ">
                        <input type="file" name="image" id="image" accept="image/*"/>
                        <div class="file-dummy">
                            <span id="defaultTxt">Choisissez un fichier</span>
                            <img id="imgPreview" class="responsive-img dis-none" src="" alt=""/>
                        </div>
                    </div>
                </div>

                <!-- submit -->
                <div class="groupform-actions">
                    <input class="padd-15" type="submit" value="Valider" id="submit"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}