{% extends "lBase.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="cell-12">
            <h1 class="align-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
            <form class="form required" action="index.php?a={{ action }}&o=image" method="post" enctype="multipart/form-data">
                <!-- name -->
                <div class="groupform-large">
                    <label class="required" for="name">Nom</label>
                    {{ imageForm.showMsg('name')|raw }}
                    <input class="padd-15" type="text" name="name" id="name" required placeholder="medor"
                           maxlength="255"
                           value="{{ image.name }}"/>
                </div>
                <!-- attr_alt -->
                <div class="groupform-large">
                    <label class="required" for="attr_alt">Attribut alt</label>
                    {{ imageForm.showMsg('attrAlt')|raw }}
                    <input class="padd-15" type="text" name="attr_alt" id="attr_alt" required placeholder="Image de chien medor"
                           maxlength="255"
                           value="{{ image.attrAlt }}"/>
                </div>
                <!-- image -->
                <div class="groupform-large">
                    <label class="required" for="image">Image</label>
                    {{ imageForm.showMsg('image')|raw }}
                    <input class="padd-15" type="file" name="image" id="image" required/>
                </div>
                <!-- submit -->
                <div class="groupform-actions">
                    <input class="padd-15" type="submit" value="valider" id="submit"/>
                    <input class="padd-15" type="reset" value="annuler" id="reset"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}