{% extends "lBase.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="ui/css/imageCheckboxes.css" type="text/css">
{% endblock %}

{% block js %}
    <script src="vendor/ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="cell-12">
            <h1 class="align-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="cell-12">
            <form class="form required" action="index.php?a={{ action }}&o=article" method="post">
                <!-- author -->
                <div class="groupform-large">
                    <label class="required" for="author">Auteur</label>
                    {{ articleForm.showMsg('author')|raw }}
                    <input class="padd-15" type="text" name="author" id="author" required placeholder="un auteur"
                           maxlength="255"
                           value="{{ article.author }}"/>
                </div>
                <!-- title -->
                <div class="groupform-large">
                    <label class="required" for="title">Titre</label>
                    {{ articleForm.showMsg('title')|raw }}
                    <input class="padd-15" type="text" name="title" id="title" required placeholder="un titre"
                           maxlength="255"
                           value="{{ article.title }}"/>
                </div>
                <!--  publication_status -->
                <div class="groupform-large">
                    <label class="required" for="publication_status">Statut de publication</label>
                    {{ articleForm.showMsg('publication_status')|raw }}
                    <select class="padd-15" name="publication_status" id="publication_status">
                        <option value="brouillon" {{ article.publicationStatus == "brouillon" ?  "selected" : "" }}>
                            Brouillon
                        </option>
                        <option value="publie" {{ article.publicationStatus == "publie" ?  "selected" : "" }}>
                            Publié
                        </option>
                    </select>
                </div>
                <!-- chapo -->
                <div class="groupform-large">
                    <label class="required" for="chapo">Chapo</label>
                    {{ articleForm.showMsg('chapo')|raw }}
                    <textarea class="padd-15" id="chapo" name="chapo" rows="5" placeholder="un chapo ..."
                              required>{{ article.chapo }}</textarea>
                </div>
                <!-- content -->
                <div class="groupform-large">
                    <label class="required" for="content">Contenu</label>
                    {{ articleForm.showMsg('content')|raw }}
                    <textarea class="padd-15" id="content" name="content" rows="10" placeholder="un contenu ..."
                              required>{{ article.content }}</textarea>
                </div>

                <!-- images -->
                <div class="groupform-large">
                    <label for="content">Images</label>
                    {{ articleForm.showMsg('images')|raw }}
                    {% if not images is empty %}
                        <div class="row-col-xs flex-vertical-center">
                            {% for image in images %}
                                <div class="cell-4 imageCheckbox">
                                    <input type="checkbox" name="imageCheckboxes[]" id="{{ image.id }}"
                                           value="{{ image.id }}">
                                    <img class="responsive-img"
                                         src="{{ constant("DIR_IMAGE") ~ constant("DS") ~ image.path }}"
                                         alt="{{ image.alt }}"/>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="msg-warning">Aucune image</p>
                    {% endif %}
                </div>
                <!-- submit -->
                <div class="groupform-actions">
                    <input class="padd-15" type="submit" value="Valider" id="submit"/>
                </div>
            </form>
        </div>
    </div>
    <script>
        CKEDITOR.replace('content');
    </script>
{% endblock %}