{% extends "lBase.html.twig" %}

{% block title %}Détails d'un article{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="cell-12">
                <h1 class="marg-0-bottom align-center">
                    <a href="index.php?o=article&a=describe&id={{ article.id }}"
                       title="{{ article.title }}">{{ article.title }}</a>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="cell-12 align-center">
                <a class="color-orange marg-15-right" href="index.php?a=update&id={{ article.id }}"
                   title="Modifier cet article">Modifier</a>
                <a class="color-error marg-15-right" href="index.php?a=delete&id={{ article.id }}"
                   title="Supprimer cet article">Supprimer</a>
                <a href="index.php" title="Retour vers l'accueil">Retour</a>
            </div>
        </div>
        <div class="row">
            <div class="cell-12">
                <p class="msg-info">
                    <span class="dis-block"># Par {{ article.author }}</span>
                    <span class="dis-block"># Créé le {{ article.creationDate }}</span>
                    <span> {{ article.publicationDate ? "# Pubié le " ~ article.publicationDate : "" }}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="cell-12">
                <p class="align-center">{{ article.chapo }}</p>
            </div>
        </div>
        <div class="row">
            <div class="cell-12 ckeContent">
                {{ article.content|raw }}
            </div>
        </div>
        {% if article.lstImages|length > 0 %}
            <div class="row flex-vertical-center">
                {% for image in article.lstImages %}
                    <div class="cell-4">
                        <img class="responsive-img" src="{{ constant("DIR_IMAGE") ~ constant("DS") ~ image.path }}"
                             alt="{{ image.alt }}"/>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </article>
{% endblock %}