{% extends "lBase.html.twig" %}

{% block metaFB %}
    <meta property="og:type" content="article">
    <meta property="og:title" content={{ article.title }}>
    <meta property="og:site_name" content="Mini-journal">
    {% if article.lstImages is defined %}
        {% for image in article.lstImages %}
            <meta property="og:image" content="{{ displayDirImage() }}{{ image.path }}">
        {% endfor %}
    {% endif %}
    <meta property="article:published_time" content="{{ article.creationDate }}">
    <meta property="article:author" content="{{ article.author }}">
{% endblock %}

{% block metaTwitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.chapo }}">
    {% if article.lstImages is defined %}
        <meta name="twitter:image" content="{{ displayDirImage() }}{{ article.lstImages[0].path }}">
    {% endif %}
    <meta name="twitter:image:alt" content="{{ article.lstImages[0].alt }}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="ui/js/ajax/publicationArticle.js"></script>
{% endblock %}

    {% block title %}Détails d'un article{% endblock %}

    {% block content %}
        <article itemtype="http://schema.org/Article" itemscope>
            <div class="row">
                <div id="contentNotification" class="cell-12">
                    <h1 itemprop="name" class="marg-0-bottom align-center">
                        <a href="index.php?o=article&a=describe&id={{ article.id }}"
                           title="{{ article.title }}">{{ article.title }}</a>
                    </h1>
                </div>
            </div>
            {% if isLoggedUser() %}
                <div class="row">
                    <div class="cell-12 align-center">
                        {% if (isGranted(["ROLE_EDITOR"]) and isAuthor(article.author)) or isGranted(["ROLE_ADMIN"]) %}
                            <a class="color-orange marg-15-right" href="index.php?a=update&id={{ article.id }}"
                               title="Modifier cet article">Modifier</a>
                            {% if article.publicationStatus == "brouillon" or isGranted(["ROLE_ADMIN"]) %}
                                <a class="color-error marg-15-right" href="index.php?a=delete&id={{ article.id }}"
                                   title="Supprimer cet article">Supprimer</a>
                            {% endif %}
                        {% endif %}
                        {% if isGranted(["ROLE_ADMIN"]) %}
                            {% if article.publicationStatus != "publie" %}
                                <a class="color-green-sea marg-15-right changePublicationArticle" href="#"
                                   title="Publier cet article" data-id="{{ article.id }}">Publier</a>
                            {% else %}
                                <a class="color-green-sea marg-15-right changePublicationArticle" href="#"
                                   title="Mettre en etat de brouillon" data-id="{{ article.id }}">Mettre en etat de
                                    brouillon</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="cell-12">
                    <p class="msg-info">
                        <span class="dis-block"># Par <span itemprop="author">{{ article.author }}</span></span>
                        <span class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">{{ article.author }}</span>
                        </span>
                        <span class="dis-block"># Créé le {{ article.creationDate }}</span>
                        <span id="spanPublicationDate">
                            {% if article.publicationDate %}
                                <span># Publié le </span>
                                <span itemprop="datePublished">{{ article.publicationDate }}</span>
                            {% endif %}
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="cell-12">
                    <p class="align-center" itemprop="headline">{{ article.chapo }}</p>
                </div>
            </div>
            <div class="row">
                <div class="cell-12 ckeContent">
                    {{ article.content|raw }}
                </div>
            </div>
            {% if article.lstImages|length > 0 %}
                <div class="row-col-s flex-vertical-center">
                    {% for image in article.lstImages %}
                        <a itemprop="image" itemscope itemtype="http://schema.org/ImageObject"
                           class="cell-4 c6-m padd-15 box-shad-2px align-center hvr-underline-from-center"
                           href="index.php?o=image&a=describe&id={{ image.id }}">
                            <figure>
                                <img itemprop="url" class="responsive-img"
                                     src="{{ constant('DIR_IMAGE') ~ constant('DS') ~ image.path }}"
                                     alt="{{ image.attrAlt }}"/>
                                <figcaption class="padd-15 padd-0-bottom">{{ image.attrAlt }}</figcaption>
                            </figure>
                            <meta itemprop="width" content="auto">
                            <meta itemprop="height" content="auto">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </article>
    {% endblock %}